bin/
obj/
pkg/
.fake/
.idea/
packages/
build/
gh-pages/
docs/output/
miTLS/
.bundle/
*.userprefs
*.swp
*.suo
*.orig

project.lock.json
*.project.lock.json
dotnet-dev-*
tools/coreclr/
tools/dotnet-install.*
.vs/
.vscode/

#Paket dependency manager
.paket/
paket-files/
.ionide/
